@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Titillium+Web&display=swap");
@font-face {
  font-family: "FonteLogo";
  src: url(../fonts/bubblegum-sans-regular.otf);
}

p {
  text-align: justify;
  text-indent: 50px;
}

header#cabecalho img#icone {
  position: absolute;
  left: 780px;
  top: 70px;
}

header#cabecalho {
  border-bottom: 1px #606060 solid;
  height: 150px;
  background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 30pt;
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
}

header#cabecalho h2 {
  font-family: "Titillium Web", sans-serif;
  color: #888888;
  font-size: 15pt;
  padding: 0px;
  margin-top: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #dddddd;
  color: rgba(0, 0, 0, 1);
}

div#interface {
  width: 900px;
  background-color: #ffffff;
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

a {
  text-decoration: none;
  color: #606060;
}

a:hover {
  text-decoration: underline;
}

/*Formatação de imagens com legendas*/
figure.foto-legenda {
  position: relative;
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img {
  width: 100%;
  height: 100%;
}

figure.foto-legenda figcaption {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
  opacity: 1;
}

/*Formatação do Menu*/
nav#menu {
  display: block;
}

nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 300px;
}

nav#menu li {
  display: inline-block;
  background-color: #dddddd;
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
}

nav#menu li:hover {
  background-color: #606060;
}

nav#menu h1 {
  display: none;
}

nav#menu a {
  color: black;
  text-decoration: none;
}

nav#menu a:hover {
  color: white;
  text-decoration: underline;
}

section#corpo {
  display: block;
  width: 500px;
  float: left;
  border-right: 1px solid #606060;
  padding-right: 20px;
}

section#corpo-full {
  display: block;
  width: 100%;
}

article#noticia-pricipal h2 {
  font-size: 12pt;
  color: #606060;
  background-color: #dddddd;
  padding: 5 px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-bottom: 0px;
}

header#cabecalho-artigo h2 {
  font-size: 13pt;
  color: #cecece;
  background-color: #ffffff;
}

header#cabecalho-artigo h3 {
  font-size: 12px;
  color: #606060;
}

.direita {
  text-align: right;
}

table#tabelaspec {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabelaspec td {
  border: 1px solid #606060;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table#tabelaspec td.ce {
  color: #ffffff;
  background-color: #606060;
  vertical-align: top;
  font-weight: bold;
}

table#tabelaspec td.cd {
  background-color: #cecece;
}

table#tabelaspec caption {
  color: #888888;
  font-size: 13pt;
  font-weight: bolder;
}

table#tabelaspec span {
  display: block;
  float: right;
  color: #000000;
  font-size: 8pt;
  margin-top: 10px;
}

aside#lateral {
  display: block;
  width: 350px;
  float: right;
  background-color: #dddddd;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 20tp;
  color: #606060;
  margin-top: 0px;
}

aside#lateral h2 {
  background-color: #606060;
  color: #ffffff;
  font-size: 13pt;
  margin: 5px;
}

footer#rodape {
  clear: both;
  border-top: 1px solid #606060;
}

footer#rodape p {
  text-align: center;
}

/* Media Queries para Responsividade Mobile */
@media screen and (max-width: 768px) {
  /* Interface principal */
  div#interface {
    width: 95%;
    margin: -20px auto 0px auto;
    padding: 5px;
  }

  /* Cabeçalho */
  header#cabecalho {
    height: auto;
    background-size: 150px;
    background-position: center 10px;
    padding-top: 120px;
    text-align: center;
  }

  header#cabecalho h1 {
    font-size: 20pt;
    padding-top: 10px;
  }

  header#cabecalho h2 {
    font-size: 12pt;
  }

  /* Ocultar imagem do ícone em mobile */
  header#cabecalho img#icone {
    display: none;
  }

  /* Menu */
  nav#menu ul {
    position: static;
    text-align: center;
    padding: 0;
    margin: 10px 0;
  }

  nav#menu li {
    display: inline-block;
    padding: 8px 10px;
    margin: 5px 2px;
    font-size: 10pt;
  }

  /* Seção principal */
  section#corpo {
    width: 100%;
    float: none;
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid #606060;
    padding-bottom: 15px;
  }

  section#corpo-full {
    width: 100%;
    padding: 5px;
  }

  /* Aside lateral */
  aside#lateral {
    width: 100%;
    float: none;
    margin-top: 15px;
  }

  /* Tabela de especificações */
  table#tabelaspec {
    width: 100%;
    font-size: 10pt;
  }

  table#tabelaspec td {
    padding: 5px;
  }

  /* Ajuste de parágrafos */
  p {
    text-indent: 30px;
  }

  /* Ajuste de vídeos */
  video {
    width: 100% !important;
    height: auto;
  }

  /* Imagens responsivas */
  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para telas muito pequenas */
  header#cabecalho {
    padding-top: 100px;
    background-size: 120px;
  }

  header#cabecalho h1 {
    font-size: 16pt;
  }

  header#cabecalho h2 {
    font-size: 10pt;
  }

  nav#menu li {
    display: block;
    margin: 5px auto;
    width: 90%;
    text-align: center;
  }

  article#noticia-pricipal h2 {
    font-size: 11pt;
  }

  header#cabecalho-artigo h1 {
    font-size: 16pt;
  }

  aside#lateral h1 {
    font-size: 16pt;
  }

  aside#lateral h2 {
    font-size: 11pt;
  }

  table#tabelaspec {
    font-size: 9pt;
  }

  table#tabelaspec td {
    padding: 3px;
  }

  p {
    text-indent: 20px;
  }
}
