@charset "UTF-8";

section#conteudo {
  width: 1000px;
  margin: auto;
}

iframe#frame-spec {
  width: 400px;
  height: 280px;
  border: none;
  overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
  display: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  section#conteudo {
    width: 100%;
    padding: 10px;
  }

  iframe#frame-spec {
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 480px) {
  iframe#frame-spec {
    height: 300px;
  }
}
